@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700');
/*font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;*/
body{
	height: 3000px;/*не забыть убрать*/
	background-color: #fff;

}
/* .container{
	padding: 0;
} */
p{color: #afafaf;}
.navbar-light{
	background-color: transparent;
}
#Layer{
	background: url("img/layer_neon.jpg") no-repeat center/cover;
	background-attachment: fixed; 
	padding: 0;
	min-height: 700px;
	height: 100vh;
}
#Layer>img{
	max-width: 100%;
}

#Layer2{
	background: url("img/Layer.png") no-repeat center/cover;
	min-height: 850px;
	
}
nav>div>a>p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
#menu>li>a{
	font-family: 'Montserrat', sans-serif;
	color: #a93735;
	font-weight: 700;
}
#CreativeTemplate{
	font-family: 'Kaushan Script', cursive;
	font-size: 300%;
	color:#5d2a2a;
}
#WelcometoMoGo{
	font-family: 'Montserrat', sans-serif;
	font-size: 350%;
	color: #bf2c2c;
	font-weight: 700;
}
#button{
	color: #c51c1c;
	font-weight: 700;
	background-color: transparent;
	border:3px solid #c51c1c;
	border-radius: 100px;
	width: 60px;
	height: 60px;
}
#button:hover{
	border: 4px solid #c51c1c;
	background-color: #c51c1c;
	color: white;
}

.nav-link{

	border-bottom:2px solid transparent; 
}
.nav-link:hover{
	color: #fce38a;
	border-bottom:2px solid #fce38a; 
}
.title1{
	font-family: 'Kaushan Script', cursive;

}




.big-bg{
	background-color: rgb(70, 68, 68);
	padding: 0;
	min-height: 700px;
	height: 100vh;
}
.layer-window{
	background: url("./img/layer_neon.jpg")  center/cover;
	
	
}

.title-desc{
	display: flex;
	margin-top: 10vh;
	padding: 25px 10px 25px 10px;
	
}
.title-desc>p{
	background-color: #b99820c2;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 48px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 48px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 48px 3px rgba(0,0,0,0.75);
	padding: 25px 10px 25px 10px;
}
.center{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
h1{
	color: #fff;
}

@media screen and (max-width:999px){
	.title-desc{
		padding: 15px 10px 15px 10px;
		margin-top: 4vh;
	}
	.center{
		display: none;
	}
 }